<div class="nav">
    <button id="menu-btn">
        <span class="material-icons-sharp">
            menu
        </span>
    </button>
    <div class="dark-mode">
        <span class="material-icons-sharp active">
            light_mode
        </span>
        <span class="material-icons-sharp">
            dark_mode
        </span>
    </div>

    <!--Profile-->
    <div class="profile">
        <div class="info">
            <p>Hi, <b>Name</b></p>
            <small class="text-muted">Employee Role</small>
        </div>

        <div class="profile-photo">
            <img src="/images/dp.jpg" >
        </div>
    </div>
</div>