<aside>
    <div class="toggle">
        <div class="logo">
            <img src="../ADMIN/images/bdrlogo.png" alt="">
            <h2>Big<span class="danger">Dadi's</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>
    <div class="sidebar">
        <a href="../ADMIN/dashboard.html" class="dp-menu active">
            <span class="material-icons-sharp">
                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>
        <a href="../ADMIN/users.html" >
            <span class="material-icons-sharp">
                person
            </span>
            <h3>Users</h3>
        </a>
        <a href="../ADMIN/newuser.html">
            <span class="material-icons-sharp">
                add
            </span>
            <h3>New User</h3>
        </a>
        <a href="../ADMIN/loyalty.html">
            <span class="material-icons-sharp">
                loyalty
            </span>
            <h3>Loyalty Points</h3>
        </a>
        <a href="../ADMIN/reservation.html" class="">
            <span class="material-icons-sharp">
                bookmark_added
            </span>
            <h3>Reservation</h3>
            <span class="message-count">5</span>
        </a>
        <a href="../ADMIN/order.html">
            <span class="material-icons-sharp">
                delivery_dining
            </span>
            <h3>Orders</h3>
            <span class="message-count">12</span>
        </a>
        <a href="../ADMIN/inventory.html">
            <span class="material-icons-sharp">
                inventory
            </span>
            <h3>Inventory</h3>
        </a>
        <a href="../ADMIN/payroll.html">
            <span class="material-icons-sharp">
                request_quote
            </span>
            <h3>Payroll</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">
                settings
            </span>
            <h3>Settings</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>