<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    <form action="./" method="post">
        <input type="text" name="firstname" id="firstname" placeholder="firstname">
        <input type="text" name="middlename" id="middlename" placeholder="middlename">
        <input type="text" name="lastname" id="lastname" placeholder="lastname">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Submit">
    </form>
    
</body>
</html>